body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe1e1; /* Warna latar background */
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #381e1e; /* Warna latar kalkulator */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

#display {
    width: 93%;
    height: 80px;
    font-size: 2.5em;
    text-align: right;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #301c1c; /* Warna latar belakang display */
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #6a4a4a; /* Warna tombol default */
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button:hover {
    background-color: #855e5e; /* Warna tombol saat hover */
}

.zero {
    grid-column: span 3; /* Tombol 0 lebih lebar */
}

button:nth-child(1) {
    background-color: #f26868; /* Warna tombol "AC" */
}

button:nth-child(2), button:nth-child(3), button:nth-child(4) {
    background-color: #b95656; /* Warna tombol operasi */
}

button:nth-child(18) {
    background-color: #f95a5a; /* Warna tombol "=" */
}
